  
 .app{
  display:block;
  background-image: url(image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  min-height: 100vh;
  margin: 20px auto;
}

.containerText{
color: white;
 display: flex;
 justify-content: center;
 

}

body {
 background-color: #cab372b7;
 display: block;
 margin: 0;
background-attachment: scroll;
}

input{
width: 80%;
padding: 5px;
font-family: 'Montserrat', sans-serif;
font-weight: bolder;
text-align: center;
color: black;
}

.cta{
 display: flex;
 justify-content: center;
margin: 10px;
}
.add{
 padding: 10px;
 width: 50%;
 background-color: #f1ed08a9;
 border: none;
 color: white;
 font-family: 'Montserrat', sans-serif;
 margin-top: 30px;
}

.delete{
 padding: 10px;
 width: 50%;
 background-color: rgba(95, 26, 5, 0.904);
 border: none;
 color: rgb(255, 255, 255);
 font-family: 'Montserrat', sans-serif;

}
.swal{
  font-family: 'Montserrat', sans-serif;
 color: red;
}
li{
 color: white;
 background-color: #85830659;
 font-family: 'Montserrat', sans-serif;
}
.crossed {
 text-decoration: line-through 3px rgba(230, 17, 17, 0.712);
 background-color: #f0f0f033;


}

ul, li{
list-style-type: none;
margin: 0;
 padding: 10px;
 text-align: center;
 font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
}
